.body
{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
}

.header
{
    display: flex;
    justify-content: center;
    
    padding-top: 35px;

    background: url(../img/bg.png) 100% no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.container
{
    position: relative;
    width: 85%;
    max-width: 1200px;
}

.top
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 50px;
}

.header__menu
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    width: 50%;
    height: 50px;

    border-bottom: 1px solid #D1D3DE;
    box-sizing: border-box;
}

.header__menu-item
{
    font-size: 1.25em;
    color: #FFF;
    text-decoration: none;
    
    display: flex;
    align-items: center;

    height: 50px;

    cursor: pointer;
}

.header__menu-item:hover 
{
    border-bottom: 6px solid #F45E1F;
}

.btn
{
    font-size: 1.25em;
    font-weight: bold;
    color: #FFF;

    height: 45px;
    width: 162px;

    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 45px;
    
    cursor: pointer;
}

.btn:hover
{
    color: #F45E1F;

    background-color: #FFF;
}

.header__text

{
    color: #FFF;

    width:  80%;
    margin-bottom: 50px;
}

.header__text-title
{
    font-size: 5.42em;
    font-weight: 700;

    margin: 0;
}

.header__text-paragraph
{
    font-size: 1.25em;

    width: 47%;
}

.header__btns
{
    display: flex ;
    justify-content: space-between;
    
    width: 30%;
    margin-bottom: 50px;
}

.location
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-icon
{
    margin-right: 8px;
}

.header__learnMore
{
    display: flex;
    align-items: center;
}

.header__learnMore-text
{
    font-size: 1em;
    color: #FFF;
    text-transform: uppercase;

    margin-right: 25px;
}

.header__learnMore-lineWrap
{
    width: 40%;
    height: 50px;
    
}

.header__learnMore-line
{
    width: 100%;
    height: 25px;

    border-bottom: 1px solid #FFF;
}

.header__learnMore-circle
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border: 1px solid #FFF;
    border-radius: 50px;
}

.header__learnMore-circle:hover
{
    background-color: #FFF;
}

.header__learnMore-link
{
    color: #FFF;
    text-decoration: none;
}

.header__learnMore-link:hover
{
    color: #F45E1F;
}

.header__scroll
{
    font-size: 12px;
    color: #B4B4B4;
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;

    background-color: #fafbfd;

    cursor: pointer;
}

.section
{
    /* height: 100vh; */
}

.services
{
    display: flex;
    justify-content: center;

    background-color: #fafbfd;
}

.services-inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 600px;
    width: 60%;
    max-width: 800px;
    min-width: 700px;
}

.services__box
{
    height:330px;
    width: 330px;
    padding: 50px;
    
    border-radius: 10px;
    box-sizing: border-box;
}

.house
{
    background-color: #ffffff;;
}

.commercial
{
    background-color: #273164;
}

.services__box-booking
{
    font-size: 1.08em;
    color: #F45E1F;
    text-decoration: underline;
    opacity: 0.6;

}

.services__box-booking:hover
{
    opacity: 1;
}

.services__box-title
{
    font-size: 1.7em;
}

..services__box-text
{
    font-size: 1.16em;
    line-height: 1.571;
}

.house .services__box-title
{
    color: #273164;
}

.house .services__box-text
{
    color: #c7c7c7;
}

.commercial .services__box-title,
.commercial .services__box-text
{
    color: #ebecef;
}


.about
{
    position: relative;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about-inner
{
    width: 60%;
}

.about__title
{
    font-size: 2.5em;
    color: #273164;
}

.about__text
{
    display: flex;
    justify-content: space-between;
}

.about__text-item
{
    width: 45%;
}

.about__paragraph
{
    font-size: 1.16em;
    line-height: 1.714;
    color: #c1c1c1;
}

.underline-text
{
    text-decoration: underline;
}

.bold-text
{
    font-weight: bold;
}

.bg-small
{
    position: absolute;
    top: 450px;
    left: 250px;
    width: 30%;
    z-index: 555;
}

.dots
{
    position: absolute;
    top: 680px;
    left: 480px;
    width: 20%;
    z-index: 554;
}

.philosophy
{
    display: flex;
    padding: 350px 0 0 250px;

    position: relative;
    height: 750px;
    
    background-color: #f6f7fb;
    box-sizing: border-box;
}

.philosophy-inner
{
    width: 400px;
}

.philosophy_subtitle
{
    font-size: 1.08em;
    text-transform: uppercase;
    color: #F45E1F;
}

.philosophy__guarantees-item
{
    display: flex;
    align-items: center;
}

.check-icon
{
    margin-right: 35px;
}

.guarantee
{
    font-size: 1.33em;
    font-weight: bold;
    line-height: 2.188;
    color: #273164;
}

.hand
{
    position: absolute;
    right: 0;
    top: 200px;
    width: 40%;
}
